/* Стили для мобильных устройств с шириной экрана до 1350px */
@media only screen and (max-width: 1350px) {
	.container {
		max-width: 1349px;
	}

	/* VIDEO */

	.video__inner {
		padding: 94px 200px 95px 150px;
	}

	/* DOWNLOAD */
	.download__inner {
		padding: 94px 200px 95px 150px;
	}
}

/* Стили для мобильных устройств с шириной экрана до 1300px */
@media only screen and (max-width: 1300px) {
	.container {
		max-width: 1299px;
	}

	/* VIDEO */

	.video__inner {
		padding: 94px 180px 95px 150px;
	}

	/* OVERVIEW */

	.overview__inner {
		padding: 63px 140px 124px 140px;
	}

	.overview__grid-content {
		padding: 20px 25px 20px 25px;
	}

	/* DOWNLOAD */
	.download__inner {
		padding: 94px 180px 95px 150px;
	}
}

/* Стили для мобильных устройств с шириной экрана до 1250px */
@media only screen and (max-width: 1250px) {
	.container {
		max-width: 1249px;
	}

	/* HEADER */

	.header__inner {
		padding: 17px 100px 17px 100px;
	}

	/* VIDEO */

	.video__inner {
		padding: 94px 100px 95px 100px;
	}

	/* OVERVIEW */

	.overview__inner {
		padding: 63px 100px 124px 100px;
	}

	/* DOWNLOAD */
	.download__inner {
		padding: 94px 130px 95px 130px;
	}

	/* CONTACT */

	.contact__inner {
		padding: 159px 130px 123px 130px;
	}

	/* FOOTER */

	.footer__content {
		padding: 43px 0 48px 100px;
	}
}

/* Стили для мобильных устройств с шириной экрана до 1200px */
@media only screen and (max-width: 1200px) {
	.container {
		max-width: 1199px;
	}

	/* VIDEO */

	.video__inner {
		padding: 90px 100px 90px 100px;
	}

	.video__content {
		margin-right: 100px;
	}

	/* OVERVIEW */

	.overview__inner {
		padding: 63px 100px 124px 100px;
	}

	/* DOWNLOAD */
	.download__inner {
		padding: 94px 100px 95px 100px;
	}

	.download__content {
		margin-right: 100px;
	}

	/* CONTACT */

	.contact__inner {
		padding: 159px 100px 123px 100px;
	}

	.contact__content {
		margin-right: 100px;
	}
}

/* Стили для мобильных устройств с шириной экрана до 1150px */
@media only screen and (max-width: 1150px) {
	.container {
		max-width: 1149px;
	}

	/* HEADER */

	.header__inner {
		padding: 17px 50px 17px 50px;
	}

	/* VIDEO */

	.video__inner {
		padding: 90px 50px 90px 50px;
	}

	.video__content {
		margin-right: 90px;
	}

	/* OVERVIEW */

	.overview__inner {
		padding: 63px 50px 124px 50px;
	}

	.overview__grid {
		column-gap: 15px;
	}

	/* DOWNLOAD */
	.download__inner {
		padding: 94px 50px 95px 50px;
	}

	.download__content {
		margin-right: 90px;
	}

	/* FEATURES */

	.features__inner {
		padding: 63px 50px 108px 50px;
	}

	/* CONTACT */

	.contact {
		min-height: auto;
	}

	.contact__inner {
		padding: 159px 50px 123px 50px;
	}

	.contact__content {
		margin-right: 90px;
	}
}

/* Стили для мобильных устройств с шириной экрана до 1024px */
@media only screen and (max-width: 1024px) {
	.container {
		max-width: 1023px;
	}

	/* HEADER */

	.header__inner {
		padding: 15px 35px 15px 35px;
	}

	/* VIDEO */

	.video__inner {
		padding: 50px 35px 50px 35px;
	}

	.video__content {
		margin-right: 50px;
	}

	/* OVERVIEW */

	.overview__inner {
		padding: 50px 35px 50px 35px;
	}

	.overview__grid-content {
		padding: 10px 15px 10px 15px;
	}

	/* DOWNLOAD */
	.download__inner {
		padding: 50px 35px 50px 35px;
	}

	.download__content {
		margin-right: 50px;
	}

	/* FEATURES */

	.features__inner {
		padding: 50px 35px 50px 35px;
	}

	/* CONTACT */

	.contact__inner {
		padding: 50px 35px 50px 35px;
	}

	.contact__content {
		margin-right: 50px;
	}

	.contact__form input {
		width: 400px;
		height: 60px;
	}
}

/* Стили для мобильных устройств с шириной экрана до 992px */
/* MENU */
@media only screen and (max-width: 992px) {
	.sidenav.sidenav-fixed {
		-webkit-transform: translateX(-105%);
		transform: translateX(-105%);
	}
	.sidenav.sidenav-fixed.right-aligned {
		-webkit-transform: translateX(105%);
		transform: translateX(105%);
	}
	.sidenav > a {
		padding: 0 16px;
	}
	.sidenav .user-view {
		padding: 16px 16px 0;
	}
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
	background-color: #ed4c5c;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
	color: #fff;
}

.sidenav .collapsible-body {
	padding: 0;
}

.sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	height: 120vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 997;
	display: none;
}

.material-icons {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}

nav .brand-logo i,
nav .brand-logo [class^='mdi-'],
nav .brand-logo [class*='mdi-'],
nav .brand-logo i.material-icons {
	float: left;
	margin-right: 15px;
}

nav i,
nav [class^='mdi-'],
nav [class*='mdi-'],
nav i.material-icons {
	display: block;
	font-size: 1.71em;
	height: 56px;
	line-height: 4em;
}

nav ul a.btn > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-small > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-flat > .material-icons,
nav ul a.btn-floating > .material-icons {
	height: inherit;
	line-height: inherit;
}

.input-field input[type='search']:focus:not(.browser-default) + label i,
.input-field input[type='search']:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type='search']:focus:not(.browser-default) ~ .material-icons {
	color: #444;
}

.input-field input[type='search'] ~ .mdi-navigation-close,
.input-field input[type='search'] ~ .material-icons {
	position: absolute;
	top: 0;
	right: 1rem;
	color: transparent;
	cursor: pointer;
	font-size: 2rem;
	-webkit-transition: 0.3s color;
	transition: 0.3s color;
}

.sidenav .divider {
	margin: 8px 0 0 0;
}

.divider {
	max-width: 364px;
	height: 2px;
	overflow: hidden;
	background: #c4c4c4;
}

.dropdown-content li.divider {
	min-height: 0;
	height: 1px;
}

ul#slide-out:not(.browser-default) {
	padding: 35px 15px 0 39px;
	list-style-type: none;
}
ul#slide-out:not(.browser-default) > li {
	list-style-type: none;
	padding: 0;
}

#slide-out a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
/*  */

/* Стили для мобильных устройств с шириной экрана до 970px */
@media only screen and (max-width: 970px) {
	.container {
		max-width: 969px;
	}

	/* NAVBAR */

	.navbar {
		padding: 40px 0 80px 0;
	}

	.navbar__menu {
		display: none;
	}

	.navbar__menu-btn {
		display: none;
	}

	.burger {
		display: inline;
	}

	/* MENU */

	.sidenav {
		display: inline;
		position: fixed;
		width: 350px;
		left: 0;
		top: 0;
		margin: 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		height: 100%;
		height: calc(100% + 60px);
		height: -moz-calc(100%);
		padding-top: 22px 15px 60px 39px;
		background-color: #fff;
		z-index: 999;
		overflow-y: auto;
		will-change: transform;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateX(-105%);
		transform: translateX(-105%);
	}

	.sidenav.right-aligned {
		right: 0;
		-webkit-transform: translateX(105%);
		transform: translateX(105%);
		left: auto;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	.sidenav .collapsible {
		margin: 0;
	}

	.sidenav li {
		float: none;
		line-height: normal;
	}

	.sidenav li {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.sidenav li.active {
		background-color: rgba(0, 0, 0, 0.05);
	}

	.sidenav li > a {
		display: block;
		padding: 0;
		color: #263238;
		font-size: 1.57em;
		font-style: normal;
		font-weight: 500;
		line-height: 3.28em; /* 272.727% */
	}

	.sidenav button {
		width: 210px;
		height: 60px;
		border-radius: 5px;
		border: 2px solid #263238;
		background-color: #fff;
		margin-top: 27px;
		position: relative;
		transition: 1s box-shadow;
	}

	.sidenav button a {
		color: #fff;
		font-size: 1.28em;
		text-decoration: none;
	}

	.sidenav button:hover {
		box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
	}

	.sidenav li > a:hover {
		opacity: 0.6;
	}

	.sidenav li > a.btn,
	.sidenav li > a.btn-large,
	.sidenav li > a.btn-small,
	.sidenav li > a.btn-large,
	.sidenav li > a.btn-flat,
	.sidenav li > a.btn-floating {
		margin: 10px 15px;
	}

	.sidenav li > a.btn,
	.sidenav li > a.btn-large,
	.sidenav li > a.btn-small,
	.sidenav li > a.btn-large,
	.sidenav li > a.btn-floating {
		color: #fff;
	}

	.sidenav li > a.btn-flat {
		color: #343434;
	}

	.sidenav li > a.btn:hover,
	.sidenav li > a.btn-large:hover,
	.sidenav li > a.btn-small:hover,
	.sidenav li > a.btn-large:hover {
		background-color: #2bbbad;
	}
	*/ .sidenav li > a.btn-floating:hover {
		background-color: #26a69a;
	}

	.sidenav li > a > i,
	.sidenav li > a > [class^='mdi-'],
	.sidenav li > a li > a > [class*='mdi-'],
	.sidenav li > a > i.material-icons {
		float: left;
		height: 48px;
		line-height: 3.48em;
		margin: 0 32px 0 0;
		width: 24px;
		color: rgba(0, 0, 0, 0.54);
	}

	.sidenav .divider {
		margin: 21px 0 0 0;
		background: #c4c4c4;
	}

	.sidenav .subheader {
		cursor: initial;
		pointer-events: none;
		color: rgba(0, 0, 0, 0.54);
		font-weight: 500;
		line-height: 3.42em;
	}

	.sidenav .subheader:hover {
		background-color: transparent;
	}

	.sidenav .user-view {
		position: relative;
		padding: 32px 32px 0;
		margin-bottom: 8px;
	}

	.sidenav .user-view > a {
		height: auto;
		padding: 0;
	}

	.sidenav .user-view > a:hover {
		background-color: transparent;
	}

	.sidenav .user-view .background {
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	.sidenav .user-view .circle,
	.sidenav .user-view .name,
	.sidenav .user-view .email {
		display: block;
	}

	.sidenav .user-view .circle {
		height: 64px;
		width: 64px;
	}

	.sidenav .user-view .name,
	.sidenav .user-view .email {
		line-height: 1.71em;
	}

	.sidenav .user-view .name {
		margin-top: 16px;
		font-weight: 500;
	}

	.sidenav .user-view .email {
		padding-bottom: 16px;
		font-weight: 400;
	}

	.sidenav.sidenav-fixed {
		left: 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		position: fixed;
	}

	.sidenav.sidenav-fixed.right-aligned {
		right: 0;
		left: auto;
	}
	/*  */

	/* HEADER */

	.header__inner {
		padding: 10px 15px 10px 15px;
	}

	/* VIDEO */

	.video {
		min-height: auto;
	}

	.video__inner {
		padding: 50px 15px 50px 15px;
	}

	.video__content {
		margin-right: 30px;
	}

	/* OVERVIEW */

	.overview {
		min-height: auto;
	}

	.overview__inner {
		padding: 50px 15px 50px 15px;
	}

	.overview__grid-content {
		padding: 10px 10px 10px 10px;
	}

	/* DOWNLOAD */
	.download {
		min-height: auto;
	}
	.download__inner {
		padding: 50px 15px 50px 15px;
	}

	.download__content {
		margin-right: 30px;
	}

	/* FEATURES */

	.features {
		min-height: auto;
	}

	.features__inner {
		padding: 50px 15px 50px 15px;
	}

	/* CONTACT */

	.contact__inner {
		padding: 50px 15px 50px 15px;
	}

	.contact__content {
		margin-right: 30px;
	}

	.contact__form input {
		width: 400px;
		height: 60px;
	}
}

/* Стили для мобильных устройств с шириной экрана до 850px */
@media only screen and (max-width: 850px) {
	.container {
		max-width: 849px;
	}

	/* VIDEO */

	.video__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.video__content {
		max-width: 445px;
		flex-direction: column;
		align-items: center;
		margin: 0;
		margin-bottom: 50px;
	}

	/* DOWNLOAD */
	.download__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.download__content {
		max-width: 445px;
		flex-direction: column;
		align-items: center;
		margin: 0;
		margin-bottom: 50px;
	}

	/* CONTACT */

	/* DOWNLOAD */
	.contact__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.contact__content {
		max-width: 445px;
		flex-direction: column;
		align-items: center;
		margin: 0;
		margin-bottom: 50px;
	}

	.contact__form {
		align-items: center;
	}
}

/* Стили для мобильных устройств с шириной экрана до 768px */
@media only screen and (max-width: 768px) {
	.container {
		max-width: 767px;
	}

	body {
		font-size: 12px;
	}

	/* HEADER */

	.navbar {
		margin-bottom: 100px;
	}

	/* FEATURES */

	.features__grid {
		grid-template-areas:
			'one two'
			'three four';
	}

	/* MENU */

	.sidenav {
		width: 250px;
	}

	.sidenav li > a {
		line-height: 2.28em; /* 272.727% */
	}
}

/* Стили для мобильных устройств с шириной экрана до 500px */
@media only screen and (max-width: 500px) {
	.container {
		max-width: 499px;
	}

	body {
		font-size: 10px;
	}

	/* HEADER */

	.header {
		min-height: auto;
		padding-bottom: 127px;
	}

	.header__title {
		font-size: 3.14em;
	}

	/* MENU */

	.sidenav {
		width: 230px;
	}

	/* CONTACT */

	.contact__form input {
		width: 350px;
		height: 50px;
	}
}

/* Стили для мобильных устройств с шириной экрана до 500px */
@media only screen and (max-width: 400px) {
	.container {
		max-width: 399px;
	}

	/* HEADER */

	.header {
		padding-bottom: 100px;
	}

	/* MENU */

	.sidenav {
		width: 200px;
	}

	/* CONTACT */

	.contact__form input {
		width: 300px;
	}

	/* OVERVIEW */

	.overview__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 3fr));
		grid-auto-rows: minmax(180px, auto);
		grid-auto-flow: row;
		column-gap: 30px;
		row-gap: 15px;
	}

	.overview__img {
		max-width: 100%;
		width: 280px;
	}

	.overview__grid-content {
		max-width: 200px;
		max-height: 150px;
	}
}
